.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

// @media screen and (max-width: 767px) {
  

// .section_mob {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }
// }